@model Utility.Model.AssessmentUserIDViewModel

@{
    ViewBag.Title = "CreateAssessmentUserMapping";
    Layout = "~/Views/Shared/_CompUserAccountLayout.cshtml";
}

<h2>Assessment User Mapping</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2" for="AssessmentID">Assesment</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.AssessmentID, new SelectList(Model.assessmentList, "AssessmentID", "AssessmentName"), new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <label style="color:chocolate;text-decoration:underline;">Include Candidate</label>
        @foreach (var usrId in Model.userIDList)
        {
            <div class="form-group">
                
                <div class="col-md-10">
                    <input name="AreUsrChecked" type="checkbox" value="@usrId.userID" />@usrId.userName<br />
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="SubBtn" value="SUBMIT" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "AssessmentList")
</div>
@Scripts.Render("~/bundles/jquery")
@*<script>
    $(document).ready(function () {
        $("#SubBtn").click(function (e) {
            e.preventDefault();
            var asstId = $("#AssessmentID :selected").val();
            var chkids = document.querySelectorAll('input[type=checkbox]:checked');
            var idList = new Array();
            for (var i = 0; i < chkids.length; i++) {
                idList.push(chkids[i].name);
            }
        $.ajax({
            type: "POST",
            url: '@Url.Action("AssessmentUserMapping")',
            data: ({ AsstID: asstId, Usrids: idList}),
            success: function (data) {
                console.log(data);
            },
            error: function (data) {
                console.log(data);
            }
        });
        })
    })
</script>*@

